body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  padding: 0.2rem 0.5rem !important;
  border: 1px solid black !important; 
}

.btn:hover {
  background-color:rgb(196, 226, 253);
}

.shadow {
  box-shadow: 3px 3px 5px 2px #ccc;
}

.hidden {
  display: none;
}

label {
  margin-right: 0.5rem;
}

/* Nav Bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: aliceblue;
}

.nav-links {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.nav-links li {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.line-below {
  max-width: 0;
  background-color: blue;
  height: 1px;
  transition-property: max-width;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.nav-links li:hover .line-below {
  max-width: 150px;
}

.nav-links li a {
  text-decoration: none;
}

/* Home Image */

.home-img {
  height: 30rem;
  background-position: 50%;
}

/* Filter/Sorting */

.sorting-options {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2rem;
}


/* Search Form */

.search-form-div {
  margin-left: 30%;
  margin-right: 30%;
  position: relative;
  top: 20rem;
  padding: 0.5rem;
  border-radius: 24px;
  background-color: white;
  box-shadow: inset 2px 2px 2px 0.1rem #aaa;
}

.search-form input {
  width: 90%;
  border: none;
}

.search-form input:active, .search-form input:focus {
  outline: none;

}

.link-image {
  display: none;
}

.search-results {
  position: absolute;
  z-index: 100;
  width: 97%;
  padding: 0.5rem;
}

.search-result-single {
  background-color: aliceblue;
  border: 1px solid rgb(196, 226, 253);
  border-top: none;
}

.search-result-single a {
  text-decoration: none;
}

.search-result-single p {
  margin-bottom: 0.5rem;
}

.search-result-single:hover {
  background-color: rgb(196, 226, 253);
}

.search-result-title:hover .link-image {
  display: block;
}

/* Movie List */

.active {
  height: 3rem;
  background-color: aliceblue;
  border-radius: 1rem 1rem 0 0;
}

.active .filter-btn {
  background-color: aliceblue;
  border: none !important;
  font-size: x-large;
  border-radius: 1rem 1rem 0 0;
}

.active .filter-btn:focus, .active .btn:focus {
  outline: 0 !important;
}

.movie-list {

}

.movie-list-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 10px;
}

.movie {
  display: flex;
}

.movie-sub-div {
  padding: 0.5rem;
  background-color: white;
  margin: 0.2rem;
  height: 98%;
  border-radius: 5px;
}

.movie-sub-div header h5 {
  max-width: fit-content;
}

.movie-sub-div header h5 a {
  text-decoration: none;
}

.movie-sub-div img:hover {
  filter: brightness(85%);
}

.movie .movie-info p {
  margin-bottom: 0.2rem;
}

.movie-info {
  display: none;
  position: absolute;
  z-index: 100;
  margin-left: 11.5rem;
  width: 5rem;
  background-color: white;
  border-radius: 5px;
  padding: 0.2rem;
}

.movie-info p:nth-child(-n+2) {
  border-bottom: 1px solid rgb(196, 226, 253);;
}

.movie-info::after {
  content: "";
  position: absolute;
  top: 75%;
  right: 100%;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.movie-sub-div:hover + .movie-info {
  display: flex;
  flex-direction: column;
}

.page-selector {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.page-selector h5 {
  margin: 1rem;
}

.page-btn {
  border-radius: 50%;
  background-color: aliceblue;
  border: solid 1px #084298;
  padding-bottom: 5px;
}

.page-btn:hover {
  background-color: rgb(196, 226, 253);;
}

/* Watchlist / Rated Movies */

table {
  margin-right: auto;
  margin-left: auto;
}

table td, table th {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.movie-section {
  border-top: 2px solid blue;
  padding-top: 1rem;
}

.movie-element {
  /* display: flex; */
  background-color: aliceblue;
  align-items: baseline;
  border-bottom: 2px solid white;
}

.movie-element a {
  text-decoration: none;
}

.movie-element p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.text-divider {
  width: 10px;
  height: 2px;
  border-radius: 2px;
  background-color: black;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-bottom: 0.6rem;
}

/* Single Movie */

.main-movie-info {
  display: flex;
}

.main-movie-info header {
  margin: 1rem;
}

.main-movie-info header h2 {
  background-color: aliceblue;
  border-radius: 5px;
}

.single-movie-details, .single-movie-synopsis {
  margin: 1rem;
  background-color: aliceblue;
  padding: 0.5rem;
  border-radius: 5px;
}

.single-movie-details {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.user-options {
  margin: 1rem;
  background-color: aliceblue;
  padding: 0.5rem;
  border-radius: 5px;
}

.recommendations {
  margin: 1rem;
}

.movie-rec-list {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 5px;
}

.single-movie-rec-div {
  
}

.movie-rec {
  padding: 0.5rem;
  background-color: white;
  margin: 0.2rem;
  height: 98%;
  border-radius: 5px;
  width: 8rem;
}

.movie-rec p a {
  text-decoration: none;
}

.movie-rec img:hover {
  filter: brightness(85%);
}

/* Footer */

footer {
  height: 6rem;
  margin: 0;
  padding: 0;
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

footer p {
  margin-bottom: 0.5rem;
}


/* MOBILE RESPONSIVENESS */

/* Navbar */

/* Search */

@media (max-width:500px) {
  .search-form-div {
    margin-left: 15%;
    margin-right: 15%;
  }
  .search-results {
    width: 93%;
  }
}

/* Movie List */

@media (max-width:500px) {
  .active {
    height: 4rem;
  }
  .movie-list-section {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .btn {
    padding: 0.1rem 0.2rem !important;
  }
  .movie-info {
    margin-left: 10rem;
  }
  .filter-btn {
    height: 3.5rem;
  }
  .top-btn {
    position: fixed;
    z-index: 101;
    bottom: 0;
    right: 0;
    border: none !important;
    color: black !important;
    font-size: 2rem !important;
    padding: 1rem !important;
    background-color: rgb(41 19 48 / 50%) !important;
    border-radius: 0 !important;
  }
}

/* Watchlist/Ratings */

@media (max-width:500px) {
  .movie-section {
    margin-left: 5%;
    margin-right: 5%;
  }
  .movie-element, .movie-element h5 {
    font-size: small;
    align-items: center;
  }
  table td, table th {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

/* Single Movie */

@media (max-width:500px) {
  .main-movie-info {
    flex-direction: column;
  }
  .main-movie-info header img {
    max-width: 300px;
  }
  .single-movie-rec-div:first-child {
    margin-left: 22.5rem;
  }
  .movie-rec-list {
    width: auto;
    overflow: scroll;
  }
}


/* Footer */

@media (max-width:500px) {
  footer {
    height: 5rem;
  }
  footer p {
    margin-bottom: 0.25rem;
    font-size: small;
  }
}